.dialog {
    text-decoration: none;
    color: aliceblue;
}

.dialog:hover{
    color: crimson;
}

.dialog:active {
    color: red;
}

.itemImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.itemTitle {
    margin-left: 10px;
    vertical-align:middle;
    padding-bottom: 40px;
}