body {
    background-color: #444444;
}

.main {
    
}

textarea {
    background-color: darkgrey;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    color: aliceblue;
}

button {
    width: 75px;
    height: 20px;
    background-color: dimgray;
    color: aliceblue;
    border-radius: 5px;
    border: none;
}

button:disabled {
    opacity: 0.3;
}

.App-wrapper {
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    background-color: #444444;
    background-image: url("./../src/assets/images/50-Beautiful-and-Minimalist-Presentation-Backgrounds-01.jpg");
  background-repeat: no-repeat;
    box-shadow: 0px 1px 5px 5px #000;
}

.App_friends-main {
    width: 200px;
    height: 100%;
}

.main {
    display: flex;
}

.App-wrapper-content {
    width: 1166px;
}





