.dialogs {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.dialogs_title {
    font-size: 24px;
    color: aliceblue;
    text-align: center;
}

.dialog {
    text-decoration: none;
    color: aliceblue;
}

.dialog:hover {
    color: aliceblue;
}

.dialog.active {
    color: aliceblue;
}

.dialog.active:hover {
    color: darkred;
}

.dialogs_wrap {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.ancheckedDialogs_wrap {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.messages {
    color: aliceblue;
}

.dialogsTextfield_wrap {
    display: flex;
    flex-direction: column;
}

.dialogsTextfieldButtons_wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}